@{
    ViewBag.Title = "Customers List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-lg-10 mx-auto products-list">
    <div class="card">
        <div class="card-body">
            <div class="row g-2 add-item-button">
                <h5 class="card-title product-list-title">Customers List</h5>
                <button type="submit" class="btn btn-light px-5 ">
                    <a class="add-pro" href="add-customer.html">
                        <i class="fa-solid fa-plus"></i> Add Customer
                    </a>
                </button>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Email</th>
                            <th scope="col">Tax Number</th>
                            <th scope="col">Address</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                            <td>huhfue</td>
                            <td>hguyguefioj</td>
                            <td>
                                <div class="product-actions">
                                    <i class="fa-solid fa-eye"></i>
                                    <i class="fa-solid fa-file-invoice"></i>
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>fat</td>
                            <td>huhfue</td>
                            <td>hguyguefioj</td>
                            <td>
                                <div class="product-actions">
                                    <i class="fa-solid fa-eye"></i>
                                    <i class="fa-solid fa-file-invoice"></i>
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>twitter</td>
                            <td>huhfue</td>
                            <td>hguyguefioj</td>
                            <td>
                                <div class="product-actions">
                                    <i class="fa-solid fa-eye"></i>
                                    <i class="fa-solid fa-file-invoice"></i>
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>tery</td>
                            <td>the Bird</td>
                            <td>twitter</td>
                            <td>huhfue</td>
                            <td>hguyguefioj</td>
                            <td>
                                <div class="product-actions">
                                    <i class="fa-solid fa-eye"></i>
                                    <i class="fa-solid fa-file-invoice"></i>
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="overlay toggle-menu"></div>
