@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MyApp!</h1>
    <p>Check out <a href="https://learn.microsoft.com/aspnet/core">ASP.NET Core documentation</a>.</p>
</div>
