@using ERP_MVC.Models.DTOs.Warehouse
@model WarehouseInsertDto

@{
    ViewData["Title"] = "Add New Warehouse";
}

<div class="row mt-3">
    <div class="col-lg-8 mx-auto">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Add New Warehouse</div>
                <hr>

                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <div class="form-group mb-3">
                        <label asp-for="Name">Warehouse Name</label>
                        <svg class="asterisk" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" width="10" height="10" fill="red">
                            <path d="M320 64C337.7 64 352 78.3 352 96L352 264.6L496 181.5C511.3 172.7 530.9 177.9 539.7 193.2C548.5 208.5 543.3 228.1 528 236.9L384 320L528 403.1C543.3 411.9 548.6 431.5 539.7 446.8C530.8 462.1 511.3 467.4 496 458.5L352 375.4L352 544C352 561.7 337.7 576 320 576C302.3 576 288 561.7 288 544L288 375.4L144 458.5C128.7 467.3 109.1 462.1 100.3 446.8C91.5 431.5 96.7 412 112 403.1L256 320L112 236.9C96.7 228 91.5 208.5 100.3 193.1C109.1 177.7 128.7 172.6 144 181.4L288 264.6L288 96C288 78.3 302.3 64 320 64z" />
                        </svg>
                        <input asp-for="Name" class="form-control form-control-rounded" placeholder="Enter Warehouse Name">
                        <span asp-validation-for="Name" class="text-danger small"></span>
                        <p class="field-notes text-muted mt-1 small">Example: Main Distribution Center, Cairo Branch</p>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Location">Location</label>
                        <svg class="asterisk" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" width="10" height="10" fill="red">
                            <path d="M320 64C337.7 64 352 78.3 352 96L352 264.6L496 181.5C511.3 172.7 530.9 177.9 539.7 193.2C548.5 208.5 543.3 228.1 528 236.9L384 320L528 403.1C543.3 411.9 548.6 431.5 539.7 446.8C530.8 462.1 511.3 467.4 496 458.5L352 375.4L352 544C352 561.7 337.7 576 320 576C302.3 576 288 561.7 288 544L288 375.4L144 458.5C128.7 467.3 109.1 462.1 100.3 446.8C91.5 431.5 96.7 412 112 403.1L256 320L112 236.9C96.7 228 91.5 208.5 100.3 193.1C109.1 177.7 128.7 172.6 144 181.4L288 264.6L288 96C288 78.3 302.3 64 320 64z" />
                        </svg>
                        <input asp-for="Location" class="form-control form-control-rounded" placeholder="Enter Physical Address or City">
                        <span asp-validation-for="Location" class="text-danger small"></span>
                        <p class="field-notes text-muted mt-1 small">Use "Virtual" or "System" if this is a non-physical location</p>
                    </div>

                    <div class="d-flex align-items-center gap-3 mt-4">
                        <button type="submit" class="btn btn-light btn-round px-5 add-item-submit">Submit</button>

                        <a asp-action="Index" class="btn btn-outline-secondary btn-round px-4">Cancel</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>